<%= form_for(@image, html: { class: 'ui form'}) do |f| %>
  <div class="field">
    <%= f.file_field :picture, multiple: true, accept: 'image/jpeg,image/png' %>
  </div>

  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  <%= f.submit "Post", class: "ui primary button" %>
<% end %>

<div class="ui horizontal divider">
  Uploaded Image(s)
</div>

<% if current_user.images.count > 0 %>
  <% current_user.images.each do |img| %>
    <% if img.picture? %>
      <%= image_tag img.picture.url %>
      <%= form_with url: "/image_view", method: :post do |f| %>
        <%= f.hidden_field :image_id, value: img.id%>
        <%= f.hidden_field :public, value: !img.public %>
        <% if img.public %>
          <%= f.submit "Make Image Private", class: "ui secondary button" %>
        <% else %>
          <%= f.submit "Make Image Public", class: "ui secondary button" %>
        <% end %>
      <% end %>
      <div class="ui divider"></div>
    <% end %>
  <% end %>
<% end %>
