<div> 
<%= current_user&.email %>
</div>

<%= form_for(@image) do |f| %>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, multiple: true, accept: 'image/jpeg,image/png' %>
  </span>
  <%= f.label :public, class: "checkbox inline" do %>
    <%= f.check_box :public %>
    <span>Make Image(s) public</span>
  <% end %>
<% end %>

<% current_user.images.each do |img| %>
    <%= image_tag img.picture.url if img.picture? %>
    <%= "Public: #{img.public} | " %>
    <% if img.public %>
      <%= form_with url: "/image_view", method: :post do |f| %>
        <%= f.hidden_field :image_id, value: img.id%>
        <%= f.hidden_field :public, value: !img.public %>
        <%= f.submit "Make Image Private", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= form_with url: "/image_view", method: :post do |f| %>
        <%= f.hidden_field :image_id, value: img.id%>
        <%= f.hidden_field :public, value: !img.public %>
        <%= f.submit "Make Image Public", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <br>
<% end %>