<%= form_for(@user, html: { class: 'ui form' }) do |f| %>
  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
 
  <%= f.submit 'Sign up', class: "ui primary button" %>
<% end %>
