<!DOCTYPE html>
<html>
  <head>
    <title>ImageRepository</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= link_to "Home", root_path, id: "logo" %>
    <% if current_user&.present? %>
        <%= link_to "Profile", user_path(current_user), class: "btn btn-lg btn-primary" %>
        <%= link_to "Log out", logout_path, class: "btn btn-lg btn-primary", method: :delete %>
    <% else %>
      <%= link_to "Login now!", login_path, class: "btn btn-lg btn-primary" %>
    <% end %>
    <%= yield %>
  </body>
</html>
